@page
@model PDMasterDetail.Pages.Cayce.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/Cayce.css" />
<h1>Details</h1>

<div>
    <h4>Rock</h4>
    <hr />
    <dl class="row" style="background-color: seashell; padding: 1rem;">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RockClass.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RockClass.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RockClass.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RockClass.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RockClass.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RockClass.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RockClass.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RockClass.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RockClass.Hardness)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RockClass.Hardness)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RockClass.Id" style="color: white;">Edit</a> |
    <a asp-page="./Index" style="color: white;">Back to List</a>
</div>
