@page
@model PDMasterDetail.Pages.Hannah.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RockClass</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RockClass.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RockClass.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RockClass.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RockClass.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RockClass.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RockClass.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RockClass.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RockClass.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RockClass.Hardness)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RockClass.Hardness)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="RockClass.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
