@page
@model PDMasterDetail.Pages.Hannah.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<body style="background-color:#955E42; text-align:center;">
    <h1 style="margin-top:10%; margin-bottom:5%;">Rock Database</h1>

    <div style="background:#553739;float:left; margin-bottom: 3%; margin-left: 20%; margin-right:20%; width:60%;">
        <dl>
            <dd style="background:#232020; color: antiquewhite; font-size:1.5em; text-align:center; width: 60%; margin-top: 3%; margin-left:3%;">
                @Html.DisplayFor(model => model.RockClass.Name)
            </dd> 
            <dd style="float:right; padding-right: 10px; margin-top:4%;">
                <div style="float:right;">
                    <img src="@Url.Content("~/imagesHannah/" + Model.RockClass.Name +".jpg")" style="width: 200px; height: 200px;" />
                </div>
            </dd>

            <dt class="col-sm-2" style="color: darksalmon;padding: 8px;">
            @Html.DisplayNameFor(model => model.RockClass.Type):
        </dt>
            <dd class="col-sm-4" style="color:antiquewhite; padding-right: 10px;">
            @Html.DisplayFor(model => model.RockClass.Type)
        </dd>
            <dt class="col-sm-2" style="color: darksalmon; padding: 8px;">
            @Html.DisplayNameFor(model => model.RockClass.Color):
        </dt>
            <dd class="col-sm-4" style="color: antiquewhite; padding-right: 10px;">
            @Html.DisplayFor(model => model.RockClass.Color)
        </dd>
            <dt class="col-sm-2" style="color: darksalmon; padding: 8px;">
            @Html.DisplayNameFor(model => model.RockClass.Location):
        </dt>
            <dd class="col-sm-4" style="color: antiquewhite; padding-right: 10px;">
            @Html.DisplayFor(model => model.RockClass.Location)
        </dd>
            <dt class="col-sm-2" style="color: darksalmon; padding: 8px;">
            @Html.DisplayNameFor(model => model.RockClass.Hardness):
        </dt>
            <dd class="col-sm-4" style="color: antiquewhite; padding-right: 10px;">
            @Html.DisplayFor(model => model.RockClass.Hardness)
        </dl>
</div>

<div>
        <a asp-page="./Edit" asp-route-id="@Model.RockClass.Id" style="background:#232020; color:white; padding: 10px;">>Edit Data</a>
        <a asp-page="./Index" style="background:#232020; color:white; padding: 10px; margin-left:3%;">>Back to Main Page</a>
</div>
</body>