@page
@model PDMasterDetail.Pages.Hannah.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<body style="background-color:#955E42; text-align:center;">
    <h1 style="margin-top:10%; margin-bottom:5%;">Rock Database</h1>

    <div style="background:#553739;float:left; margin-bottom: 10%; margin-left: 20%; margin-right:20%; width:60%;">
        <div style="background:#232020; color:white; padding: 10px;">
            <a asp-page="./Edit" asp-route-id="@Model.RockClass.Id" style="color:white; text-decoration:none; margin-left:3%;">>Edit Data</a>
            <a asp-page="./Index" style="color:white; text-decoration:none; margin-left:3%;">>Back to Main Page</a>
        </div>
        <dl>
            <div style="float:left; margin-left: 8%; padding-top: 15px;">
                <dt style="color: darksalmon; padding-left: 8px;">
                    @Html.DisplayNameFor(model => model.RockClass.Name):
                </dt>
                <dt style="color: darksalmon; padding-left: 8px;padding-top:10px;">
                    @Html.DisplayNameFor(model => model.RockClass.Type):
                </dt>
                <dt style="color: darksalmon; padding-left: 8px;padding-top:8px;">
                    @Html.DisplayNameFor(model => model.RockClass.Color):
                </dt>
                <dt style="color: darksalmon; padding-left: 20px;padding-top:6px;">
                    @Html.DisplayNameFor(model => model.RockClass.Location):
                </dt>
                <dt style="color: darksalmon; padding-left: 20px;padding-top:5px;">
                    @Html.DisplayNameFor(model => model.RockClass.Hardness):
                </dt>
            </div>
            <div style="float:right;margin-right: 8%; padding-top: 15px;">
                <dd style="color:antiquewhite; padding-left: 15px;">
                    @Html.DisplayFor(model => model.RockClass.Name)
                </dd>
                <dd style="color:antiquewhite; padding-left: 15px;">
                    @Html.DisplayFor(model => model.RockClass.Type)
                </dd>
                <dd style="color: antiquewhite; padding-left: 15px;">
                    @Html.DisplayFor(model => model.RockClass.Color)
                </dd>
                <dd style="color: antiquewhite; padding-left: 25px;">
                    @Html.DisplayFor(model => model.RockClass.Location)
                </dd>
                <dd style="color: antiquewhite; padding-left: 25px;">
                    @Html.DisplayFor(model => model.RockClass.Hardness)
                </dd>
            </div>
        </dl>
</div>
</body>